
label{
  font-size: 16px;
  color: #ccc;
}

input{
  font-size: 20px;
  color: #ccc;
}

button{
  transition: ease 0.7s;
}
button:hover{
  padding: 0 40px;
}

.card_header{
  background: #f06e4f;
}

.login_button{
  background: #f06e4f;
}

.bottom{
  width: 80%;
  margin: 10px auto;
}
.bottom a{
  color: #ccc;
  padding-top: 10px ;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: auto;
}
