
        <div class="card-action card_header white-text">
          <h3>Вход Sollento</h3>
        </div>

        <div class="card-content">

          <form [formGroup]="form" (ngSubmit)="logForm()">
            <div class="form-field">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email">
            </div>
            <br>

            <div class="form-field">
              <label for="password">Пароль</label>
              <input type="password" id="password" formControlName="password">
            </div>
            <br>

            <div class="form-field center-align">
              <button type="submit" class="btn-large login_button">Войти</button>
            </div>

            <div class="bottom">
              <a href="" routerLink="/registration">Регистрация</a>
            </div>
          </form>

        </div>

        <!--<div class="card-action card_header white-text">-->
          <!--<h3>Регистрация</h3>-->
        <!--</div>-->

        <!--<div class="card-content">-->

          <!--<div class="form-field">-->
            <!--<label for="username">Полное имя</label>-->
            <!--<input type="text" id="fullName">-->
          <!--</div>-->
          <!--<br>-->

          <!--<div class="form-field">-->
            <!--<label for="email">Email</label>-->
            <!--<input type="text" id="email">-->
          <!--</div>-->
          <!--<br>-->

          <!--<div class="form-field">-->
            <!--<label for="email">Пароль</label>-->
            <!--<input type="text" id="email">-->
          <!--</div>-->
          <!--<br>-->

          <!--<div class="form-field center-align">-->
            <!--<button class="btn-large login_button">Регистрация</button>-->
          <!--</div>-->
