/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("https://pp.userapi.com/c851336/v851336792/195b6/XpelufiqzSU.jpg");
  background-size: cover;
}
