<div class="card-action card_header white-text">
  <h3>Регистрация</h3>
</div>

<div class="card-content">

  <form [formGroup]="form" (ngSubmit)="logForm()">

    <div class="form-field">
      <label for="fullName">Полное имя</label>
      <input type="text" id="fullName" formControlName="fullName">
    </div>
    <br>

    <div class="form-field">
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>
    <br>

    <div class="form-field">
      <label for="password">Пароль</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <br>

    <div class="form-field center-align">
      <button type="submit" class="btn-large login_button">Регистрация</button>
    </div>

    <div class="bottom">
      <a href="" routerLink="/login">Войти</a>
    </div>

  </form>

</div>
